<app-deck [selectedCard]="selectedCard" (clickContextMenuEvent)="clearSelectedCard();" (click)="onClick(place.deck, 0);"></app-deck>
<app-battle [selectedCard]="selectedCard" (click)="onClick(place.battle);" (onClickBattle)="onClick(place.battle, $event);"></app-battle>
<app-bench-field [selectedCard]="selectedCard" (click)="onClick(place.bench);" (onClickBench)="onClick(place.bench, $event[1], $event[0]);"></app-bench-field>
<app-trash [selectedCard]="selectedCard" (clickContextMenuEvent)="clearSelectedCard();" (click)="onClick(place.trash);" (onClickTrash)="onClick(place.trash, $event);"></app-trash>
<app-side [selectedCard]="selectedCard" (clickContextMenuEvent)="clearSelectedCard();" (click)="onClick(place.side);" (onClickSide)="onClick(place.side, $event);"></app-side>
<app-hand [selectedCard]="selectedCard" (click)="onClick(place.hand);" (onClickHand)="onClick(place.hand, $event);"></app-hand>
<app-stadium [selectedCard]="selectedCard" (click)="onClick(place.stadium);" (onClickStadium)="onClick(place.stadium, $event);"></app-stadium>
<app-use [selectedCard]="selectedCard" (click)="onClick(place.use);" (onClickUse)="onClick(place.use, $event);"></app-use>
<app-lost [selectedCard]="selectedCard" (click)="onClick(place.lost);" (onClickLost)="onClick(place.lost, $event);"></app-lost>
<app-gx (click)="onClickGx();"></app-gx>
<app-count [deckCount]="service.deck.length" [handCount]="service.hand.length"></app-count>
<button (click)="clearSelectedCard();">緊急選択解除ボタン</button>
<!-- <app-stash [selectedCard]="selectedCard" (click)="onClick(place.stash);" (onClickStash)="onClick(place.stash, $event);"></app-stash> -->
