.battle_field {
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid red;
  width: 125px;
  height: 170px;
}

.battle_card {
  &.battle_card--pokemon {
    z-index: 5;
    position: absolute;
  }
  &.battle_card--tool {
    z-index: 4;
    position: absolute;
    top: 25%;
    left: -25%;
  }
  &.battle_card--energie {
    z-index: 4;
    position: absolute;
    right: -25%;
  }
}
