.battle_field {
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid red;
  width: 125px;
  height: 170px;
}

.battle_card {
  &.battle_card--pokemon {
    z-index: 5;
    position: absolute;
  }
  &.battle_card--tool {
    z-index: 4;
    position: absolute;
    top: 25%;
    left: -25%;
  }
  &.battle_card--energie1 {
    z-index: 4;
    position: absolute;
    top: 25%;
    right: -25%;
  }
  &.battle_card--energie2 {
    z-index: 4;
    position: absolute;
    top: 40%;
    right: -25%;
  }
  &.battle_card--energie3 {
    z-index: 4;
    position: absolute;
    top: 55%;
    right: -25%;
  }
  &.battle_card--energie4 {
    z-index: 4;
    position: absolute;
    top: 70%;
    right: -25%;
  }
  &.battle_card--energie5 {
    z-index: 4;
    position: absolute;
    top: 85%;
    right: -25%;
  }
  &.battle_card--energie6 {
    z-index: 4;
    position: absolute;
    top: 100%;
    right: -25%;
  }
  &.battle_card--energie7 {
    z-index: 4;
    position: absolute;
    top: 115%;
    right: -25%;
  }
  &.battle_card--energie8 {
    z-index: 4;
    position: absolute;
    top: 130%;
    right: -25%;
  }
  &.battle_card--energie9 {
    z-index: 4;
    position: absolute;
    top: 145%;
    right: -25%;
  }
  &.battle_card--energie10 {
    z-index: 4;
    position: absolute;
    top: 160%;
    right: -25%;
  }
  &.battle_card--energie11 {
    z-index: 4;
    position: absolute;
    top: 175%;
    right: -25%;
  }
  &.battle_card--energie12 {
    z-index: 4;
    position: absolute;
    top: 190%;
    right: -25%;
  }
  &.battle_card--energie13 {
    z-index: 4;
    position: absolute;
    top: 205%;
    right: -25%;
  }
  &.battle_card--energie14 {
    z-index: 4;
    position: absolute;
    top: 220%;
    right: -25%;
  }
  &.battle_card--energie15 {
    z-index: 4;
    position: absolute;
    top: 235%;
    right: -25%;
  }
}
