.bench_box {
  margin-left: 5px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid blue;
  width: 120px;
  height: 170px;
}

.bench_card {
  position: absolute;
  z-index: 20;
  &:nth-child(2) {
    top: 0px;
    z-index: 19;
  }
  &:nth-child(3) {
    top: -22px;
    z-index: 18;
  }
  &:nth-child(4) {
    top: -44px;
    z-index: 17;
  }
  &:nth-child(5) {
    top: -66px;
    z-index: 16;
  }
  &:nth-child(6) {
    top: -88px;
    z-index: 15;
  }
  &:nth-child(7) {
    top: -110px;
    z-index: 14;
  }
  &:nth-child(8) {
    top: -132px;
    z-index: 13;
  }
  &:nth-child(9) {
    top: -154px;
    z-index: 12;
  }
  &:nth-child(10) {
    top: -176px;
    z-index: 11;
  }
  &:nth-child(11) {
    top: -198px;
    z-index: 10;
  }
  &:nth-child(12) {
    top: -220px;
    z-index: 9;
  }
  &:nth-child(13) {
    top: -242px;
    z-index: 8;
  }
  &:nth-child(14) {
    top: -264px;
    z-index: 7;
  }
  &:nth-child(15) {
    top: -286px;
    z-index: 6;
  }
}
