.bench_box {
  margin-left: 5px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid blue;
  width: 120px;
  height: 170px;
}

.bench_card {
  position: absolute;
}
