<!-- ベンチ start -->
<div class="bench_box">
  <ng-container *ngFor="let b of notPokemon;index as i">
    <app-card class="bench_card" [ngClass]="getClassType(b.type)" [ngStyle]="{ 'top': -5 + i * -9 + '%' , 'z-index': 20 - i}"
      [card]="b"
      [selected]="isSelectedPlace && (this.selectedCard.index === i || this.selectedCard.index === undefined)"
      (click)="onClick($event, notPokemon.length + i);"
    ></app-card>
  </ng-container>
  <ng-container *ngFor="let b of pokemon;index as i">
    <app-card class="bench_card" [ngClass]="getClassType(b.type)" [ngStyle]="{ 'top': 15 + i * -4 + '%' , 'right': 13 + -i * 5 + '%' , 'z-index': 50 - i}"
      [card]="b"
      [selected]="isSelectedPlace && (this.selectedCard.index === i || this.selectedCard.index === undefined)"
      (click)="onClick($event, pokemon.length + i);"
    ></app-card>
  </ng-container>
</div>
<!-- ベンチ end -->
