.bench_box {
  margin-left: 5px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid blue;
  width: 120px;
  height: 170px;
}

.bench_damage {
  padding-left: 10px;
  position: absolute;
  bottom: -15%;
  left: 26%;
  width: 35%;
  text-align: center;
  font-size: 18px;
}

.bench_card {
  position: absolute;
}
